@media screen and (max-height: 900px) {

    /* #snapshot{
        max-width: 35%;
    }

    .form-1{
        width: 60%;
        margin-inline: auto;
        margin-top: 10px !important;
    }

    .box-question{
        padding: 10px 3% !important;
    }

    .box-ans-name{
        margin: 10% 0 !important;
    } */
}

@media screen and (max-width: 1600px) {
    p, span, label, input[type=text]{
        font-size: 28px !important;
    }

    span.checkbox {
        width: 60px !important;
        height: 60px !important;
        padding: 10px 10px !important;
    }

    #choose{
        padding: 0 3px;
    }

    #choose p{
        margin-top: 5px !important;
    }

    #frame_tren{
        top: 40px;
        width: 50%;
    }

    #frame_duoi{
        bottom: 5px;
        width: 40%;
    }

    svg#XacNhanForm1, svg#XacNhanForm2, svg#XacNhanForm3, #take_snapshot, #download_btn {
        width: 250px !important;
        height: 100px;
    }

    .logo_form{
        width: 80px;
        height: 80px;
    }

    #question_2{
        margin: 45px 0 !important;
    }

}

@media screen and (max-width: 1000px) {
    p, span, label, input[type=text]{
        font-size: 28px !important;
    }

    span.checkbox {
        width: 60px !important;
        height: 60px !important;
        padding: 10px 10px !important;
    }

    #choose{
        padding: 0 3px;
    }

    #choose p{
        margin-top: 5px !important;
    }

    #frame_tren{
        top: 80px;
        width: 50%;
    }

    #frame_duoi{
        bottom: 5px;
        width: 40%;
    }

    svg#XacNhanForm1, svg#XacNhanForm2, svg#XacNhanForm3, #take_snapshot, #download_btn {
        width: 250px !important;
        height: 100px;
    }

    .logo_form{
        width: 80px;
        height: 80px;
    }

    #question_2{
        margin: 45px 0 !important;
    }
}

@media screen and (max-width: 850px) {
    p, span, label, input[type=text]{
        font-size: 24px !important;
    }

    span.checkbox {
        width: 50px !important;
        height: 50px !important;
        padding: 10px 10px !important;
    }

    #choose{
        padding: 0 3px;
    }

    #choose p{
        margin-top: 5px !important;
    }

    #frame_tren{
        top: 80px;
        width: 50%;
    }

    #frame_duoi{
        bottom: 5px;
        width: 40%;
    }

    svg#XacNhanForm1, svg#XacNhanForm2, svg#XacNhanForm3, #take_snapshot, #download_btn {
        width: 200px !important;
        height: 100px;
    }

    .logo_form{
        width: 70px;
        height: 80px;
    }

    #question_2{
        margin: 40px 0 !important;
    }
}

@media screen and (max-width: 800px) {
    p, span, label, input[type=text]{
        font-size: 24px !important;
    }

    span.checkbox {
        width: 40px !important;
        height: 40px !important;
        padding: 5px 10px !important;
    }

    #choose{
        padding: 0 3px;
    }

    #choose p{
        margin-top: 5px !important;
    }

    #frame_tren{
        top: 70px;
        width: 50%;
    }

    #frame_duoi{
        bottom: 5px;
        width: 40%;
    }

    svg#XacNhanForm1, svg#XacNhanForm2, svg#XacNhanForm3, #take_snapshot, #download_btn {
        width: 200px !important;
        height: 100px;
    }

    .logo_form{
        width: 70px;
        height: 70px;
    }

    #question_2{
        margin: 40px 0 !important;
    }
}

@media screen and (max-width: 700px) {
    p, span, label, input[type=text]{
        font-size: 24px !important;
    }

    span.checkbox {
        width: 40px !important;
        height: 40px !important;
        padding: 5px 10px !important;
    }

    #choose{
        padding: 0 3px;
    }

    #choose p{
        margin-top: 0px !important;
    }

    #frame_tren{
        top: 60px;
        width: 50%;
    }

    #frame_duoi{
        bottom: 5px;
        width: 40%;
    }

    svg#XacNhanForm1, svg#XacNhanForm2, svg#XacNhanForm3, #take_snapshot, #download_btn {
        width: 200px !important;
        height: 100px;
    }

    .logo_form{
        width: 65px;
        height: 65px;
    }

    #question_2{
        margin: 40px 0 !important;
    }

    .ans3 p{
        margin-top: 12px !important;
    }
}

@media screen and (max-width: 500px) {
    p, span, label, input[type=text]{
        font-size: 18px !important;
    }

    span.checkbox {
        width: 35px !important;
        height: 35px !important;
        padding: 5px 10px !important;
    }

    #choose{
        padding: 0 3px;
    }

    #choose p{
        margin-top: 5px !important;
    }

    #frame_tren{
        top: 35px;
        width: 50%;
    }

    #frame_duoi{
        bottom: 5px;
        width: 40%;
    }

    svg#XacNhanForm1, svg#XacNhanForm2, svg#XacNhanForm3, #take_snapshot, #download_btn {
        width: 150px !important;
        height: 100px;
    }

    .logo_form{
        width: 55px;
        height: 55px;
    }

    #question_2{
        margin: 40px 0 !important;
    }

    .ans3 p{
        margin-top: 12px !important;
    }
}